@tailwind base;
@tailwind components;
@tailwind utilities;
@import "leaflet/dist/leaflet.css";
/* Warna latar lebih terang seperti BMKG */
body {
  @apply bg-gray-50 text-gray-800;
}

input:focus, button:focus {
  @apply outline-none ring-2 ring-blue-400;
}@tailwind base;
@tailwind components;
@tailwind utilities;

/* Warna latar lebih terang seperti BMKG */
body {
  @apply bg-gray-50 text-gray-800;
}

input:focus, button:focus {
  @apply outline-none ring-2 ring-blue-400;
}

@keyframes bounce-slow {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-4px); }
}
.animate-bounce-slow {
  animation: bounce-slow 3s ease-in-out infinite;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  border: none !important;
  outline: none !important;
  border-radius: 1rem;
}